/* =========================================
   CONTACT FORM
========================================= */

#contactForm {
    margin-top: 20px;
}

#contactForm p {
    margin-bottom: 5px;
}

#contactForm label {
    font-weight: bold;
    color: #344054;
    font-size: 14px;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #d0d5dd;
    border-radius: 7px;
    font-family: inherit;
    font-size: 14px;
    outline: none;
    margin-bottom: 8px;
}

#contactForm input:focus,
#contactForm textarea:focus {
    border-color: #087443;
}

#contactForm textarea {
    resize: vertical;
}

#contactForm button {
    background: #087443;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#contactForm button:hover {
    background: #055b34;
    transform: translateY(-2px);
}
